<div class="create">
    <h1>Create account</h1>
    <form 
        {{#if session.isAdmin}}
            action="/adminStore"
        {{else}}
            {{#if session.isLibrarian}}
                action="/librarianStore"
            {{else}}
                action="/store"
            {{/if}}
        {{/if}}
                
        method="post"
    
    >
        <label for="firstName">First Name</label>
        <br>
        <input type="text" name="firstName" placeholder="Join" required="required">
        <br>
        <label for="lastName">Last Name</label>
        <br>
        <input type="text" name="lastName" placeholder="doe" required="required">
        <br>
        <label for="emai">Email Address</label>
        <br>
        <input type="text" name="email" placeholder="join.doe@example.com" required="required">
        <br>
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" placeholder="Choose a username" required="required">
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" placeholder="Create a password" required="required">
        <br>

        <!-- if admin (role: member, librarian, admin) -->
        {{#if session.isAdmin}}
            <label for="role">Role</label><br>
            <select name="role" class="select">
                <option value="member">Memeber</option>
                <option value="librarian">Labrarian</option>
                <option value="admin">Admin</option>
            </select>
            <br>
        {{/if}}

        <input type="submit" value="Create">
    </form>
    <p>Already have an account? <a href="/login">Sign in here</a></p>
    <p class="errorMessenge">
        {{#if error}}
            {{error}}
        {{/if}}
    </p>
</div>